.cards-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding: 25px 230px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-left: 75px;
  width: 300px;
  height: 150px;
  background-color: #ecaa3a;
  border-radius: 28px;
  font-size: 20px;
  text-align: center;
  color: #2b5281;
  line-height: 0.5px;
  transition: 0.3s ease-in-out;
}

.card img {
  width: 50px;
  height: 50px;
  filter: none;
  transition: filter 0.1s ease;
}

.card:hover {
  background-color: #2b5281;
  color: #ecaa3a;
}

.card img:hover {
  filter: invert(0%) sepia(100%) saturate(400%) hue-rotate(8deg)
    brightness(195%) contrast(85%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
