.cards-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding: 25px 230px;
}

.card {
  width: 300px;
  height: 150px;
  background-color: #ecaa3a;
  border-radius: 28px;
  padding: 35px 0px 100px 0px;
  font-size: 20px;
  text-align: center;
  color: #2b5281;
  line-height: 2.5px;
  transition: 0.3s ease-in-out;
}

.card:hover {
  background-color: #2b5281;
  color: #ecaa3a;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
