.event-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 3px 65px;
}

.e-card-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 150px;
  width: 450px;
  height: 220px;
  background-image: url("src/assets/test-images/circus.png");
  border-radius: 20px;
  transition: 0.9 ease-in-out;
}

.e-card-one h1 {
  font-size: 2.5em;
  color: #ffffff;
}

.e-card-one:hover {
  background-image:
    radial-gradient(#00000000 30%, #fff280c5),
    url("src/assets/test-images/circus.png");
}

.e-card-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-left: 55px;
  width: 450px;
  height: 220px;
  background-image: url("src/assets/test-images/nationalDay.png");
  border-radius: 20px;
  transition: 0.9 ease-in-out;
}

.e-card-two h1 {
  font-size: 2.5em;
  color: #ffffff;
}

.e-card-two:hover {
  background-image:
    radial-gradient(#00000000 30%, #8bff80c5),
    url("src/assets/test-images/nationalDay.png");
}

.e-card-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-left: 55px;
  width: 450px;
  height: 220px;
  background-image: url("src/assets/test-images/worldDiabetes.png");
  border-radius: 20px;
  transition: 0.9 ease-in-out;
}

.e-card-three h1 {
  font-size: 2.5em;
  color: #000000;
}

.e-card-three:hover {
  background-image:
    radial-gradient(#00000000 30%, #6167dfc5),
    url("src/assets/test-images/worldDiabetes.png");
}
